.aboutUs {
  background-color: #2C3E50;
  text-align: center;
  color: white; }
  .aboutUs__parrafos {
    text-align: justify;
    padding-left: 20px; }

.barras__barra {
  background-color: gray;
  width: 100%;
  height: 8px; }
  .barras__barra--html {
    background-color: #EE7239;
    width: 80%; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.col-1-offset {
  margin-left: 8.33333%; }

.col-2-offset {
  margin-left: 16.66667%; }

.col-3-offset {
  margin-left: 25%; }

.col-4-offset {
  margin-left: 33.33333%; }

.col-5-offset {
  margin-left: 41.66667%; }

.col-6-offset {
  margin-left: 50%; }

.col-7-offset {
  margin-left: 58.33333%; }

.col-8-offset {
  margin-left: 66.66667%; }

.col-9-offset {
  margin-left: 75%; }

.col-10-offset {
  margin-left: 83.33333%; }

.col-11-offset {
  margin-left: 91.66667%; }

.col-12-offset {
  margin-left: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto; }

.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

#navg {
  background-color: #27AD60; }

#header {
  background-image: url("../img/carousel-bg.jpg");
  background-repeat: no-repeat;
  color: #fff;
  height: 60vh;
  text-align: center; }

h1 {
  font-size: 35px; }

h3 {
  font-size: 20px; }

li {
  display: inline-block;
  padding: 20px;
  list-style: none;
  color: #fff; }

a {
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  color: #fff; }

span {
  margin: 0 100px;
  font-weight: 900;
  display: inline-block; }

#bestPrice {
  background: #2C3E50;
  color: #fff;
  height: 700px; }

.titulo_bestPrice {
  padding: 50px; }

#starter, #basic, #feature, #professional {
  border: 1px solid #27AD60;
  width: 240px;
  height: 500px;
  text-align: center;
  margin-top: 50px;
  margin-left: 45px;
  padding: 0; }

#feature {
  border: 1px solid #e67e22;
  margin-top: 20px; }

.paquete_titulo {
  padding: 20px; }

.verde {
  background: #27AD60;
  padding: 30px; }

.paquete_precio {
  font-size: 40px; }

.paquete_precio--chiquita {
  font-size: 10px;
  padding-top: 15px; }

.paquete_contenido {
  height: 35px;
  padding: 10px; }

.blanco {
  background: #fff;
  color: #2C3E50; }

.btn-cafe {
  background: #443e44;
  border: none;
  color: #fff;
  width: 80px;
  height: 30px;
  margin: 30px;
  font-size: 15px; }

/*best Prices*/
.bestPrices {
  text-align: right; }
  .bestPrices__parrafosPrice {
    color: #fff; }

.title {
  font-family: 'Raleway', sans-serif;
  text-align: center; }

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

/*best Prices*/
.bestPrices {
  text-align: right; }
  .bestPrices__parrafosPrice {
    color: #fff; }
  .bestPrices .title {
    font-family: 'Raleway', sans-serif;
    text-align: center; }
  .bestPrices table {
    border-collapse: collapse;
    margin-bottom: 1vh; }
  .bestPrices .box {
    height: 140px;
    width: 200px; }
    .bestPrices .box--color1 {
      background-color: #69D2E7; }
    .bestPrices .box--color2 {
      background-color: #A7DBDB; }
    .bestPrices .box--color3 {
      background-color: #E0E4CC; }
    .bestPrices .box--color4 {
      background-color: #F38630; }
    .bestPrices .box--color5 {
      background-color: #FA6900; }
    .bestPrices .box--color6 {
      background-color: #E94C6F; }
    .bestPrices .box--color7 {
      background-color: #542733; }
    .bestPrices .box--color8 {
      background-color: #5A6A62; }
    .bestPrices .box--color9 {
      background-color: #C6D5CD; }
    .bestPrices .box--color10 {
      background-color: #FDF200; }
    .bestPrices .box--color11 {
      background-color: #DB3340; }
    .bestPrices .box--color12 {
      background-color: #E8B71A; }
    .bestPrices .box--color13 {
      background-color: #F7EAC8; }
    .bestPrices .box--color14 {
      background-color: #1FDA9A; }
    .bestPrices .box--color15 {
      background-color: #28ABE3; }
    .bestPrices .box--color16 {
      background-color: #588C73; }
    .bestPrices .box--color17 {
      background-color: #F2E394; }
    .bestPrices .box--color18 {
      background-color: #F2AE72; }
    .bestPrices .box--color19 {
      background-color: #D96459; }
    .bestPrices .box--color20 {
      background-color: #8C4646; }
    .bestPrices .box--color21 {
      background-color: #D0C91F; }
    .bestPrices .box--color22 {
      background-color: #85C4B9; }
    .bestPrices .box--color23 {
      background-color: #008BBA; }
    .bestPrices .box--color24 {
      background-color: #DF514C; }
    .bestPrices .box--color25 {
      background-color: #DC403B; }

.imagen {
  background-image: url(../img/img-divider-img.jpg);
  whidth: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagen__sociales {
    padding: 20px; }

/*# sourceMappingURL=style.css.map */
