@import '_variables';

@function anchoColumnas($columns) {
  @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
  .col-#{$numColumna}{
    width: anchoColumnas($numColumna);
  }
}

@for $numColumna from 1 through 12{
  .col-#{$numColumna}-offset{
    margin-left:anchoColumnas($numColumna)
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row {
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
.imagen{
	 background-image: url(../img/img-divider-img.jpg);
	    whidth: 100%;
	    height:500px;
	    display:flex;
	    justify-content:center;
	    align-items:center;
	    &__sociales{
	    padding:20px;
	    }

}
