@import "variables";
@function anchoColumnas($columns) {
  @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
  .col-#{$numColumna}{
    width: anchoColumnas($numColumna);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row {
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

#navg{
  background-color: #27AD60;
}


#header{
  background-image: url("../img/carousel-bg.jpg");
  background-repeat: no-repeat;
  color: $color-text;
  height: 60vh;
  text-align: center;
}

h1{
  font-size: 35px
}

h3{
 font-size: 20px;
}

li {
  display: inline-block;
  padding: 20px;
  list-style: none;
  color: $color-text;
}

a {
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  color: $color-text;
}

span {
  margin: 0 100px;
  font-weight: 900;
  display: inline-block; }
