@import '_variables';

@function anchoColumnas($columns) {
  @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
  .col-#{$numColumna}{
    width: anchoColumnas($numColumna);
  }
}

@for $numColumna from 1 through 12{
  .col-#{$numColumna}-offset{
    margin-left:anchoColumnas($numColumna)
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row {
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

#bestPrice{
  background: $color-blue;
  color: $color-text;
  height: 700px;
}

@mixin tarjeta{
  border: 1px solid $color-green;
  width: 240px;
  height: 500px;
  text-align: center;
  margin-left: 45px;
  padding: 0;
}

#starter, #basic, #feature, #professional{
  @include tarjeta;
}

.paquete_titulo{
  padding: 20px;
}

.verde{
  background: $color-green;
  padding: 30px;
}

.paquete_precio{
  font-size: 40px;
}

.paquete_precio--chiquita{
  font-size: 10px;
  padding-top: 15px;
}

.paquete_contenido{
  height: 35px;
  padding: 10px;
}

.blanco{
  background: $color-text;
  color: $color-blue;
}
